ENVIRONMENT=development
HTTP_ADDR=:8000
PROJECT_NAME=ChatterMate
VERSION=0.1.0
API_V1_STR=/api/v1
BACKEND_URL=http://localhost:8000
VITE_WIDGET_URL=http://localhost:8000
ASSETS_DIR=backend/assets
EXPLORE_WIDGET_ID=397046dc-0093-4499-ab45-a0afe3c3ee14
DATABASE_URL=postgresql://test:test@localhost:5432/chattermate
REDIS_URL=redis://localhost:6379/0
REDIS_ENABLED=false
JWT_SECRET_KEY=your-secret-key
CONVERSATION_SECRET_KEY=your-conversation-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=http://localhost:5173,http://localhost:8000
